@{
    ViewData["Title"] = "Dashboard";

    <h1>Anotações separadas por temas, clique na opção desejada para visualizar o conteudo</h1>
    <br>
    <br>
    <div class="nowrap">
        <a href='Csharp/'> <img src="/images/Csharp.png" width="60" height="50" alt="Csharp"></a>

        <a href='Django/'> <img src="/images/Django.png" width="60" height="50" alt="Django"></a>

        <a href='Python/'> <img src="/images/Python.png" width="60" height="50" alt="Python"></a>

        <a href='Flutter/'> <img src="/images/Flutter.png" width="60" height="50" alt="Flutter"></a>
    </div>
}