@{
    ViewData["Title"] = "Home Page";
}

<body>
    <h1>Estudo sobre programação</h1>
    <div>
        <h5>Esse projeto será utilizado para anotações acerca dos aprendizados relacionados a
            programação, sejam linguagens como C#, Python, Javascript, Java, Flutter, e framewerks
            como Django, Maui, entre outros.
        </h5>
    </div>
    <div>
        <h5>Realize login para ter acesso ao conteudo anotado e visualizar a area restrita do site.
        </h5>
    </div>
    <br>
    <br>
    <div class="nowrap">
        <img src="/images/Csharp.png" width="100" height="100">
        <img src="/images/Maui.png" width="100" height="100">
        <img src="/images/Python.png" width="100" height="100">
        <img src="/images/Django.png" width="100" height="100">
        <img src="/images/Html.png" width="100" height="100">
        <img src="/images/Css.png" width="100" height="100">
        <img src="/images/Javascript.png" width="100" height="100">
        <img src="/images/Flutter.png" width="100" height="100">
        <img src="/images/Dart.png" width="100" height="100">
    </div>
</body>
